* {
    box-sizing: border-box
}

body {
    background-image: url("../images/symphony.png");
 }

 .page-header {
    line-height: 1.25;
 }

 .card-header {
    background-color: blueviolet;
    padding: .50rem 1.25rem;
 }

  .crystal-image {
    width: 200px;
    height: 200px;
    padding: 20px;
  }

 p {
    font-weight: bold;
 }
 
.card-body {
    /* padding-top: 1.25rem;
    padding-right: 1.25rem; */
    padding-bottom: .75rem;
    /* padding-left: 1.25rem;  */
}

#target-number {
    /* border: solid 2px black; */
    margin-top: 20px;
    padding-left: 20px;
}

#wins, #losses, #score {
    padding-left: 20px;
}